*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background:#067eb2;
    color: #fff;
    /* line-height: 60px; */
    height: 70px;
}

header h1{
   display: none;
}


.logo {
    width: 18%;
    padding-top:7px
}

logo img{
  height: 44px;      
}


.search-bar {
    width: 100%;
    padding-top:12px;
}

.search-bar form{
    display: inline-flex;
    width: 80%
}

.search-bar input{
    height: 44px;
    width: 95%;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #fff;
    font-size: 0.7em;
    border-radius: none;
}
.search-bar button{
    height: 44px;
    border: none;
    background: #fff; 
    cursor: pointer; 
    width: 40px;
    border-left: 1px solid black
}


.my-loc-btn{
   
    width: 5%;
    min-width: 30px;
    line-height: 49px;
    
}

.dropdown-metric {
    position: relative;
    display: inline-block;
    width: 5%;
    margin: 0;
    background: #fff;
    cursor: pointer;
    list-style: none;
    padding: 0 5px;
    height: 44px;
    width: 40px;
    border-left: 1px solid black
}
.metric-symbol {
    width: 100%;
    background: #fff;  
    color: #000;
    text-align: center;
    height: 100%;
    line-height: 44px;
    font-weight: 700;
    min-width: 30px;
}

.dropdown-metric-content{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: #000;
    top: 100%;
    right: -75%;
    text-align: center;
    cursor: pointer;
    list-style: none;
    padding: 0;
}
.dropdown-metric-content li{
    height: 50px;
    line-height: 50px;
}
.dropdown-metric-content li:hover{
    background: rgb(216, 214, 214);
    width: 100%;
}

.dropdown-metric:hover  .dropdown-metric-content{
   display: block ;
}


main{
    background-image:url('../images/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.main-wrapper{    
    flex-wrap: wrap;
    padding: 8px 0;
}

.whether-sec{
    width:100%;
    color: #fff;
    margin:0;
    box-shadow: 0 0 8px black;
}

.loc{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    font-weight: 700;
}

.whether-now{
    background-image: url('../images/day.jpg');
    background-size: cover; 
    height: 300px;  
}

.whether-wrapper{
    text-shadow: 0 0 8px black;
}
.whether-img img{
    padding-left: 60px;
}

.map-sec{
    width: 100%; 
    margin:10px 0 0;
    box-shadow: 0 0 8px black;  
}

.temp{
    font-size: 30px;
}
    
.map-wrapper{
    width: 100%;
}

.next-days{
    display: none;
}

.day{
    display: none;
}

footer{
    text-align: center;
    border-top: 2px solid #91c2ff2e;
    padding: 5px;
    background: #067eb2;
    margin: 0;
}


/* helpers */
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.clipboard-btn.highligh-success{
    background: rgba(172, 255, 47, 0.76);
}
.clipboard-btn.highligh-err{
    background: rgba(243, 43, 43, 0.76);
}



/* flex */

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content:center;
}

.space-around{
    justify-content: space-around;
}

